.body {
  background-color: rgba(248, 248, 248, 1);
  padding: 0;
  height: 100%;
}

.menu-left {
  grid-area: sidebar;
  background-color: #fff;
  padding: 0;
  position: fixed;
  height: 100%;
}

.content {
  grid-area: content;
  background-color: rgba(248, 248, 248, 1);
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "sidebar content"
}
