<div class="customer-card">
  <div class="content">
    <div class="content-info">
      <div class="content-text-item"><p>{{customer.lastName}} {{customer.firstName}}</p></div>
      <div class="content-text-item"><p>{{customer.email}}</p></div>
      <div class="content-text-item" *ngIf="customer.company">
          <p class="tag companyTag">Company</p>
      </div>
      <div class="content-text-item" *ngIf="!customer.company">
        <p class="tag individualTag">Individual</p>
      </div>
      <div class="content-text-item"><p>{{customer.addresses[0].city}}</p></div>
      <div class="content-text-item"><p>{{customer.addresses[0].country}}</p></div>
    </div>
    <div class="content-info">
      <button mat-raised-button class="blue-button">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-raised-button class="blue-button" (click)="deleteCustomer(customer.id)">
        <mat-icon>settings</mat-icon>
        More
      </button>
    </div>
  </div>
</div>
