.content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.content-text-item {
  transform: translateY(20%);
}

.content-info {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.content-info > div {
  width: 120px;
}

.customer-card {
  margin: 0 1rem 1rem 0;
  box-shadow: none;
  background-color: #fff;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 5px;
}

.content-info > .tag{
  width: 75px;
  color: #fff;
}

.tag {
  text-align: center;
  padding: 0.2rem;
  border-radius: 5px;
  color: #fff;
  width: 75px;
}

.companyTag {
  background-color: var(--colorOffice);
}

.individualTag {
  background-color: var(--colorInd);
}

p {
  font-size: 10pt;
}

.mat-mdc-raised-button  {
  --mdc-protected-button-container-height: 25px;
}

.mdc-button {
  font-size: 12px;
}
