.labels {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}

.content-text-item {
  transform: translateY(20%);
}

.content-info {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.content-info > div {
  width: 120px;
}
